.total {
    color: #000;
    font-size: 22px;
    width: 700px;
    margin: 20px auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 60px;
    padding-right: 25px;
}



